<div id="decision-tree-page" data-role="page" data-theme="a">

  {{header}}

  <div class="non-map-body ui-content">
    <div class="non-map-body-start">
      <a href="#" id="dtree-prev" data-role="button" data-mini="true" data-inline="true">{{body["previous"]}}</a>
      <a href="#" id="dtree-next" data-role="button" data-mini="true" data-inline="true">{{body["next"]}}</a>
      <form id="dtree-form" data-ajax="false" accept-charset="utf-8"></form>
    </div>

    {{popups}}
  </div>

  {{footer}}

</div>
