#dtree-next, #dtree-prev, #dtree-done {
    width: 37%;
}

#dtree-next, #dtree-done {
    float: right;
}

#dtree-prev {
    float: left;
}

#dtree-container-popup{
    max-width: none !important;
    top: 80px !important;
    left: 0 !important;
    height: 60%;
    width: 100%;
}

#dtree-container{
    height: 100%;
    padding: 20px;
    overflow-y: scroll;
}

#dtree-container > form{
    overflow-y: auto;
    height: 100%;
}

a.annotate-dtree {
   width: 50%;
}

.dtree-value,
.dtree-delete
{
    margin: 0px;
    padding: 0px;
    border: 0px none;
    float: left;
    min-height: 1px;
    box-sizing: border-box;
}

.dtree-value {
    width: 90%;
}

.dtree-delete {
    width: 10%;
    padding: 2px 0;
}
